@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Quicksand:wght@300;400;600&display=swap');
:root{
	--main-width: min(100vw, 1200px);
	--content-spacing: 60px;
	--content-radius: 30px;
	--nav-height: 50px;
}

*{
	box-sizing: border-box;
}

html, body{
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #151515;
	margin: 0;
	width: 100vw;
}

body::-webkit-scrollbar {
	display: none;
}

main > div{
	position: relative;
	z-index: 2;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

p, h1{
	letter-spacing: 1px;
}

main h1{
	font-weight: 400;
}

main > div > section{
	width: var(--main-width);
	margin: 0 auto;
}