#webgl{
	position: absolute;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	opacity: 1;
}

.gl-wrapper{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
	background-color: #fff;
}

#landing{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	background: rgba(0, 0, 0, .4);
	opacity: 0;
}

.namecard{
	position: relative;
	top: 3vh;
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.namecard > h1{
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 175px;
	line-height: 175px;
	margin: 0;
}

.namecard > p{
	position: relative;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 32px;
	margin: 0;
	opacity: 0;
}

.arrow{
	position: relative;
	padding: 3vh;
	font-size: 25px;
	background-color: transparent;
	opacity: 0;
}