#webgl{
	position: absolute;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	opacity: 1;
}

.gl-wrapper{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
	background-color: #fff;
}

#landing{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	background: rgba(0, 0, 0, .4);
	opacity: 0;
}

.namecard{
	position: relative;
	top: 3vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 40px;
}

.namecard > h1{
	--size: 175px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: var(--size);
	line-height: var(--size);
	letter-spacing: 0;
	margin: 0;
}

.namecard > p{
	--size: 32px;
	position: relative;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: var(--size);
	line-height: var(--size);
	letter-spacing: var(--size);
	margin: 0;
	opacity: 0;
}

.arrow{
	position: relative;
	cursor: pointer;
	padding: 30px;
	font-size: 25px;
	background-color: transparent;
	opacity: 0;
}

@media screen and (max-width: 1200px){
	.namecard > h1{
		--size: 120px;
	}

	.namecard > p{
		--size: 22px;
	}

	.arrow{
		font-size: 18px;
	}
}

@media screen and (max-width: 760px){
	.namecard > h1{
		--size: 90px;
	}

	.namecard > p{
		--size: 17px;
	}

	.arrow{
		font-size: 16px;
		padding: 20px;
	}
}

@media screen and (max-width: 600px) {
	.namecard > h1{
		word-spacing: 100vw;
	}

	.namecard > p{
		letter-spacing: 7px;
	}
}