#work{
	width: 100vw;
}

.project{
	position: relative;
	overflow: hidden;
	display: block;
	margin: var(--content-spacing) auto 0 auto;
	width: var(--main-width);
	background-color: #0a0a0a;
	color: #fff;
	font-family: 'Lato', sans-serif;
}

.proj-header{
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: calc(var(--main-width)*.6);
	border: 0;
	padding: 0;
}

.proj-header > div{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.proj-close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	font-size: 35px;
	background-color: transparent;
	border: none;
	color: #fff;
}

.proj-close:hover{
	opacity: .7;
}

.project > h1{
	position: absolute;
	pointer-events: none;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 90px;
	background-color: rgba(0, 0, 0, .5);
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

.proj-content{
	margin-top: 400px;
	pointer-events: none;
	padding: calc((100vw - var(--main-width))*.5);
	padding-top: 0;
	padding-bottom: 50px;
}

.proj-content > p, .proj-content > h1{
	width: var(--main-width);
}

.proj-content > p{
	font-size: 20px;
	line-height: 35px;
	margin: 30px 0;
}

.proj-content > h1{
	margin: 100px 0 20px 0;
	font-size: 30px;
}

.content-lg{
	border-radius: var(--content-radius);
	overflow: hidden;
	width: var(--main-width);
	margin: 20px 0;
}

.content-sm{
	display: block;
	border-radius: var(--content-radius);
	width: calc(.5*var(--main-width));
	margin: 20px auto;
}

.col{
	display: flex;
	justify-content: space-between;
}

.two-col{
	width: 50%;
	object-fit: cover;
}

.three-col{
	width: 33.3333%;
	object-fit: cover;
}

.content-fill{
	height: 100vh;
}