@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Work+Sans:wght@200&display=swap');
:root{
	--main-width: min(100vw, 1200px);
}

*{
	box-sizing: border-box;
}

html, body{
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #111;
	margin: 0;
}

body::-webkit-scrollbar {
	display: none;
}

#webgl{
	position: absolute;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	opacity: 1;
	background-color: #fff;
}

.gl-fade{
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .3);
	opacity: 0;
	animation-delay: 1s;
}

.gl-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

main > div{
	position: relative;
	z-index: 2;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
}

#landing{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.fade-in{
	animation-name: fade-in;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.namecard{
	position: relative;
	top: 3vh;
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.namecard > h1{
	font-family: 'Work Sans', sans-serif;
	font-size: 13vw;
	line-height: 13vw;
	margin: 0;
	opacity: 0;
	animation-delay: 1s;
}

.namecard > p{
	position: relative;
	font-size: 2.5vw;
	line-height: 2.5vw;
	letter-spacing: 2vw;
	margin: 0;
	animation-delay: 1.5s;
	opacity: 0;
}

.namecard > div{
	animation-delay: 3s;
	opacity: 0;
}

.arrow{
	position: relative;
	padding: 3vh;
	font-size: 2.5vw;
	animation-name: arrow-bounce;
	animation-duration: 2s;
	animation-delay: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	background-color: transparent;
	box-sizing: content-box;
}

.navbar{
	position: relative;
	width: 100vw;
	height: 50px;
	background-color: #000;
	padding-left: calc((100vw - var(--main-width))/2);
}

.nav-lock{
	position: fixed;
	top: 0;
	left: 0;
}

.navbar > button{
	height: 100%;
	width: 150px;
	font-size: 18px;
	color: #fff;
	border-width: 0 0 4px 0;
	border-style: solid;
	background-color: transparent;
	text-transform: uppercase;
}

#about-nav{
	border-color: #db00a4;
}

#work-nav{
	border-color: #e5557e;
}

#wip-nav{
	border-color: #eeaa58;
}

#contact-nav{
	border-color: #f7ff33;
}

#about{
	height: 200vh;
	padding: 0;
}

@keyframes arrow-bounce{
	0%{ top: -1vh;}
	50%{ top: 0vh;}
	100%{ top: -1vh;}
}

@keyframes fade-in {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@media only screen and (max-width: 850px){
	.namecard {
		top: 0vh;
	}

	.namecard > h1{
		font-size: 22vw;
		line-height: 18vw;
	}

	.namecard > p{
		font-size: 4vw;
		line-height: 6vw;
		letter-spacing: 1.5vw;
	}

	.arrow{
		font-size: 5vw;
		padding: 4vh;
	}
}

@media only screen and (max-width: 420px){
	.namecard {
		width: 100vw;
	}

	.namecard > h1{
		font-size: 28vw;
		line-height: 23vw;
	}

	.namecard > p{
		font-size: 5vw;
		line-height: 8vw;
	}

	.arrow{
		font-size: 8vw;
	}
}